.first {
/*    box-shadow: inset 0px -40px 100px -10px #000;*/
    box-shadow: inset 0px -40px 200px 29px #000;
/*    box-shadow: inset 0 0px 0px 30px #412907;*/
/*    box-shadow: inset 0px -130px 90px -90px #000;*/
/*    box-shadow: inset 0px -45px 175px 17px #000;*/
}

.second {
/*    box-shadow: inset 0px 40px 100px -10px #000;*/
/*    box-shadow: inset 0px 10px 50px -10px #000;*/
    /*background-color: rgb(0,135,183);*/
    background-color: #000;
}

.sb--second {
    background-color: rgba(45,45,45,0.3);
}

.sb--third {
    background-color: rgba(45,45,45,0.3);
}

.sb--fourth {
    background-color: rgba(0, 0, 0, 0.53);
}

/*****/

.nav-dots {
    position: fixed;
    left: 0;
    top: 32vh;
    z-index: 3;
}

.nav-dots ul {
    list-style: none;
}

.nav-dots li {
    text-align: center;
    padding: 10px;
}

.dot {
    text-decoration: none;
    background-color: #fff4;
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    transition: all 300ms;
/*    box-shadow: 0px 0px 8px -1px #000a;*/
}

.dot:hover {
    background-color: #fff;
}

.dot--current {
    background-color: #fff;
    transform: scale(1.4);
}

/*****/

.tree-background {
    opacity: 50%;
/*    position: absolute; bad for parallax scrolling */
    position: fixed;
    top: 0;
    right: -60%;
/*    width: 150%;*/
    width: 2300px;
    overflow-x: hidden;
    overflow-y: scroll;
    /*filter: blur(2px); causes jerky scolling */
}

.title {
    color: #53350A;
/*    font: 900 8em 'Montserrat', sans-serif;*/
/*    font-family: 'Righteous', cursive;*/
/*    font-family: 'Song Myung', serif;*/
    font-family: 'Quattrocento', serif;
    font-size: 4em;
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0;
    bottom: 20vh;
}

@media (max-width: 700px) {
    .title {
        font-size: 10vw;
    }
}

.home-menu {
    position: absolute;
    bottom: 0;
    height: 4vh;
    width: 100%;
    text-align: center;
}

.home-menu__btn {
/*    padding: 7px 25px;*/
/*    margin: 0 8vw;*/
    width: calc(25vw - 3px);
    height: 30px;
    padding-top: 5px;
    display: inline-block;
    border: solid 1px #777;
    color: #777;
    transition: all 200ms;
}

.home-menu__btn:hover {
/*    color: #eee;*/
    background-color: #eee;
    color: #555;
}



/*****************************/
.about {
    height: 20vh;
    background-color: #fff;
    margin: 30px;
    padding: 3vh;
    box-shadow: 0px 2px 20px 0px #333;
    opacity: 0;
}



/*****************************/

.brewerton-mp4 {
    position: absolute;
    filter: brightness(0.5);
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.mission-title {
    position: absolute;
    top: 10vh;
    left: 12vw;
    color: #bbb;
    font-size: 12vw;
    opacity: 0;
}

.mission {
    position: absolute;
    color: #fff;
    font-size: calc(1em + 2vw);
    padding: 0 50px;
    margin: 0;
    opacity: 0;
    text-align: center;
}

.mission--1 {
    bottom: 62vh;
}

.mission--2 {
    bottom: 20vh;
}

@media (min-width: 800px) {
    .mission-title {
        font-size: calc(6em + 2vw);
    }
    .mission--1 {
        bottom: 40vh;
        width: 50vw;
        left: 30px;
    }
    .mission--2 {
        bottom: 20vh;
        width: 50vw;
        right: 10px;
    }
    .mission {
        padding: 0 2vw;
        max-width: 600px;
        font-size: 2em;
    }
}

/*****************************/

.medium-window {
    background-color: #fff;
    position: absolute;
    width: 75%;
    height: 75%;
    left: 12.5%;
    top: 12.5%;
}

.frame {
    position: absolute;
    width: 100%;
    height: 100%;
}


/*****************************/

/*****************************/
.spacer {
    position: relative;
    height: 500vh;
}
.sb--spacer {
    background: rgb(72,82,75);
    background: linear-gradient(0deg, rgba(40,50,43,1) 0%, rgba(105,114,107,1) 100%);
}


/*****************************/
.sb--last {
    background-color: #53350A;
    background-color: #420;
}

.team-container {
    background-color: #2220;
    position: absolute;
    width: 100%;
    height: calc(100vh - 330px);
    padding: 0 80px;
    
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: center;
    -webkit-overflow-scrolling: touch;
}

.team-container::-webkit-scrollbar {
  display: none;
}

.team {
/*    background-color: #310;*/
/*    background-color: #111;*/
    background-color: #fff;
/*    background: linear-gradient(0deg, rgba(57,193,228,0.9) 0%, rgba(255,255,255,1) 80%);*/
    background: linear-gradient(0deg, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 90%);
    
    color: #444;
    width: 40vh;
    height: 46vh;
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
/*    box-shadow: 0 0px 20px 0 rgba(255, 255, 255, 0.8);*/
    border-radius: 8px;
    overflow: hidden;
/*    position: absolute;*/ 
/*    top: calc(50% - 250px);*/
/*    top: 30px;*/
    padding: 20px;
    
    position: relative;
    float: left;
    margin-left: 30px;
    opacity: 0;
    
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team__img {
    width: 60%;
    border-radius: 50%;
    filter: brightness(0.8);
    transition: all 300ms;
    position: absolute;
    top: 0px;
}

.team__description {
    position: absolute;
    height: 55%;
    width: 90%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team__name {
    color: #777;
    position: relative;
    font-size: 1.7em;
    margin: 10px;
}

.hr {
    display: block;
    width: 80%;
    height: 2px;
    background-color: #777;
    position: absolute;
    top: 25%;
}

.contact {
    background-color: #fff;
    border-radius: 8px;
    width: 70vw;
    height: 300px;
    position: absolute;
    bottom: 30px;
    left: 15vw;
    text-align: center;
    padding: 30px;
}

.contact-1 {
    
}

.contact__frame {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
}

.contact_e {
    margin: 10px;
}

.input--contact {
    width: calc(45% - 10px);
    max-width: 240px;
    padding: 10px;
    color: #888;
    font-size: 1em;
    display: inline-block;
    border-radius: 5px;
    border: solid 1px #888;
}

textarea.input--contact {
    width: 90%;
    max-width: 500px;
    height: 100px;
}

.contact-submit {
	width: 40px;
}


/*****************************/
.credit {
    position: relative;
    top: 0;
    height: 8vh;
    width: 100vw;
    padding: 18px;
    box-shadow: inset 0px 50px 200px 0px #111;
}

.credit__text {
    position: absolute;
    right: 3vw;
    font: 700 1.3em 'Montserrat', sans-serif;
    color: white;
}

.credit__link {
    color: #fff;
    text-decoration: none;
    transition: text-decoration 1s;
}

.credit__link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.credit__link:hover {
    color: #fff;
}

.credit__link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}