/*adopted from Naoya https://codepen.io/nxworld/pen/OyRrGy*/

/** for centering the scroll down button **/
.scroll-1__container {
    position: absolute;
    bottom: -30px; /* make this negative to lower the button */
    height: 0px;
    width: 100%;
    text-align: center;
}

/** the clickable region **/
.scroll-1 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(-25px, -50%);
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    padding-top: 60px;
    /* mobile: hidden "scroll" */
    color: rgba(0,0,0,0);
}

/** circle **/
.scroll-1__circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1.3px solid #333;
    border-radius: 100%;
    box-sizing: border-box;
    transition: border-radius 0.8s, transform 0.8s;
    z-index: 1;
    transform: rotate(0deg);
/*    transform: rotate(135deg);*/
}

.scroll-1__circle--dark {
    border-color: #333;
}
.scroll-1__circle--light {
    border-color: #fff;
}

/* desktop only: scroll down button animation */
@media (min-width: 500px) {
    .scroll-1__circle:hover {
        border-radius: 2px;
        transform: rotate(135deg);
    /*    transition: transform 0.8s, border-radius 0.5s;*/
    }
    .scroll-1__container {
        bottom: 0;
    }
    .scroll-1--dark {
        color: #333;
    }
    .scroll-1--light {
        color: #fff;    
    }
}

/** the circle part, replaced by other div in order to allow rotation **/
.scroll-1__arrow {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
/*  border: 1.3px solid #333;*/
  border-radius: 100%;
  box-sizing: border-box;
}

/** arrow **/
.scroll-1__arrow::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1.3px solid #333;
  border-bottom: 1.3px solid #333;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
.scroll-1__arrow--dark::after {
    border-color: #333;
}
.scroll-1__arrow--light::after {
    border-color: #fff;
}

/** pulsing animation **/
.scroll-1__arrow::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(30,30,30,0.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 4s infinite;
  animation: sdb03 4s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(30,30,30,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}