.about-test {
    position: absolute;
    background-color: #fff;
    width: 70vw;
    height: 100vh;
    left: 15vw;
    z-index: 1;
    box-shadow: 0px 2px 100px 3px #333;
}


.cloud-link {
    color: #555;
}
.cloud-btn {
/*    box-shadow: 0px 2px 100px 3px #333;*/
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 100ms linear, height 70ms ease-in, width 70ms ease-in;
  cursor: pointer;
    transition: all 400ms;
/*    opacity: 0;*/
}
.cloud-btn:hover {
    background-color: #777;
    color: white;
}
.cloud-btn::before, .cloud-btn::after {
  content: "";
  display: block;
  width: 130px;
  height: 130px;
  position: absolute;
  top: 23.75px;
  background-color: inherit;
  border-radius: inherit;
}
.cloud-btn::before {
  left: -100%;
  margin-left: calc( ( 190px / 2)   );
}
.cloud-btn::after {
  right: -100%;
  margin-right: calc( ( 190px / 2)   );
}
.cloud-btn:active {
  background-color: #ECE9E6;
}
.cloud-btn__span {
  position: absolute;
  z-index: 3;
  width: 200%;
  left: -50%;
  text-align: center;
  top: 50%;
  margin-top: -0.5em;
  font-size: 2.3em;
}

.cloud-btn--left {
    top: 15vh;
    left: 40vw;
/*    animation-delay: 1.1s;*/
}

.cloud-btn--right {
    top: 10vh;
/*    left: 70vw;*/
    right: 15vw;
    width: 175px;
/*    animation-delay: 1.3s;*/
}

@media (max-width: 1050px) {
    .cloud-btn--left {
        left: 30vw;
    }
    .cloud-btn--right {
        top: 25vh;
    }
    .cloud-btn__span {
        font-size: 4vw;
    }
}

@media (max-width: 800px) {
    .cloud-btn {
        width: 110px;
        height: 110px;
    }
    .cloud-btn::before, .cloud-btn::after {
        width: 90px;
        height: 90px;
    }
    .cloud-btn::before {
      margin-left: calc( ( 110px / 2)   );
    }
    .cloud-btn::after {
      margin-right: calc( ( 110px / 2)   );
    }
    .cloud-btn--left {
        top: 28vh;
    }.cloud-btn--right {
        top: 8vh;
        right: 15vw;
    }
}


/*
.filter {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(45,45,45,0.5);
    z-index: 1;
}
*/

.text {
    
    left: 0;
    top: 40vh;
    z-index: -1
}

.text p {
    color: black;
}

/**.welcome {
    width: 100%;
    height: 100vh;
    background-color: darkred;
}**/

.other {
    width: 100%;
    height: 100vh;
    background-color: white;
}

/*
.credit {
    position: absolute;
    bottom: 1vh;
    right: 1vw;
}
*/

/*
.credit-text {
    font: 700 1.3em 'Montserrat', sans-serif;
    color: white;
}
*/

.cloudinary-button {
    font: 700 1.5em 'Montserrat', sans-serif !important;
    color: #444 !important;
    background: none !important;
}

.cloudinary-button:hover {
    color: darkred !important;
}

/*
.first {
    width: 100%;
    height: 130vh;
    background-color: aquamarine;
}*/
